h1 {
  line-height: 3.5rem;
}

.header {
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 700px;
  position: relative;
  background-image: url('../../assets/images/bg-1.webp');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.header img {
  height: auto;
}

.image2 {
  height: 100%;
  width: auto;
  margin: -210px 0 0 -1.5rem;
}

.image7 {
  height: 450px;
  width: auto;
  margin: 0;
}

.check {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.bgOnda {
  background: url('../../assets/images/bg-onda.webp') repeat-x center center;
  background-size: cover;
  width: 100%;
  height: 1400px;
  position: absolute;
  bottom: -10rem;
  left: 0rem;
  z-index: -1;
}

iframe {
  width: 100%;
  height: 900px;
  border: none;
  overflow: hidden;
}

.iframeBox {
  height: 850px;
  overflow: hidden;
}

.image {
  margin-left: -5rem;
}

@media (max-width: 768px) {

  .header {
    max-height: 100%;
  }
  
  h1 {
    line-height: 2.75rem;
  }

  .image2 {
    margin: -6.5rem auto 0 auto;
    height: 150px;
  }

  .button-white {
    font-size: 1.15rem;
  }

}
