h1 {
  line-height: 3.5rem;
}

.header {
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 650px;
  position: relative;
  /* background-image: url('../../assets/images/bg-feirao-header.webp'); */
  background-image: url('../../assets/images/header-bg.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header img {
  height: auto;
}

.image2 {
  height: 100%;
  width: auto;
  margin: -210px 0 0 -1.5rem;
}

.image7 {
  height: 450px;
  width: auto;
  margin: 0;
}

.check {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.card {
  min-height: 310px;
}

@media (max-width: 768px) {
  
  h1 {
    line-height: 2.75rem;
  }

  .image2 {
    margin: -6.5rem auto 0 auto;
    height: 150px;
  }

  .button-white {
    font-size: 1.15rem;
  }

  .header {
  max-height: 100%;
}

}
