.bgGrey {
  background-color: #F2F2F2 !important;
}

.box {
  min-height: 430px;
  overflow: hidden;
  border-radius: 25px;
  background-color: var(--color-gray-200);
}

.imgBox {
  min-height: 262px;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.imgVeiculo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  max-width: 100%;
}

.icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0 0 1rem 0;
  color: var(--dark);
}

.iconBg {
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 25px;
  padding: 0.5rem;
  background-color: var(--gray);
}

.dark {
  color: var(--dark);
}

.rule {
  width: 2rem !important;
  height: 0.35rem !important;
  border-radius: 25px;
  background-color: var(--dark);
}

.iconSmall {
  width: 1.15rem !important;
  height: 1.15rem !important;
  margin-right: 1rem;
  color: var(--dark);
}

.tag {
  background-color: var(--white);
  border-radius: 7px;
  padding: 0.35rem 0.75rem;
}

.buttonOutlined {
  width: 100%;
  color: var(--primary);
  box-shadow: none;
  border-radius: 25px;
  text-transform: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary);
  background-color: transparent;
}

.buttonOutlined:hover {
  color: var(--black);
  background-color: var(--primary);
  box-shadow: 0px 6px 30px rgba(240, 201, 0, 0.6) !important;
}

.button {
  width: 100%;
  color: var(--black);
  box-shadow: none;
  border-radius: 25px;
  text-transform: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary);
  box-shadow: 0px 6px 30px rgba(240, 201, 0, 0.6) !important;
}

.versao {
  min-height: 40px;
}

input,
.select {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-400);
  border-radius: 5px;
}

.select {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.line {
  border-right: 1px solid var(--color-gray-400);
}

.iframe {
  width: 100%;
  height: 450px;
  border: none;
  overflow: hidden;
  padding: 0;
}

/* .iframeBox {
  height: 850px;
  overflow: hidden;
} */

@media (max-width: 768px) {
  .line {
    border: none;
  }
}
