.navbar {
   /* height: 100%; */
   position: relative;
   /* border-bottom: 1px solid var(--white); */
}

.navbar img {
   height: auto;
}

.text64 {
   font-size: 64px;
}

.text92 {
   font-size: 92px;
}

.image2 {
   height: 100%;
   width: auto;
   margin: 0 0 0 -5rem;
}

.image7 {
   height: 450px;
   width: auto;
   margin: 0;
}

@media (max-width: 768px) {

   .navbar {
      padding: 0;
   }

}