.footer {
   position: relative;
   background: url('../../assets/images/bg-feirao-footer.webp') repeat center center;
   /* background: url('../../assets/images/footer-bg.webp') no-repeat center center; */
   background-size: auto;
   /* background-size: cover; */
   width: 100%;
   height: 100%;
}

.footer img {
   height: auto;
}

@media (max-width: 768px) {


}