h1 {
  line-height: 3.5rem;
}

.header {
  padding: 0;
  height: 100%;
  position: relative;
}

iframe {
  width: 100%;
  height: 800px;
  border: none;
  overflow: hidden;
  border-radius: 40px;
}

@media (max-width: 768px) {
  h1 {
    line-height: 2.75rem;
  }

  iframe {
    height: 1200px;
  }
}
