 @import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FAC530;
  --secondary: #A18326;
  --gray: #ECEFF6;
  --dark: #333333;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary) var(--primary);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
  border-radius: 20px;
  border: 3px solid var(--primary);
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--tertiary);
  overflow-x: hidden;
  background: linear-gradient(
    246deg,
    #ffffff -0.53%,
    #e4f2ff 49.08%,
    #ffffff 98.7%
  );
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  background: var(--primary);
  color: var(--dark);
  cursor: pointer;
}

.button-white {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  background: var(--white);
  color: var(--dark);
  cursor: pointer;
}

.buttonOverline {
  color: var(--white);
  background-color: transparent;
  box-shadow: var(--white) 0px 3px 0px;
  border: 2px solid var(--white);
}

.menu-mobile {
  position: absolute;
  top: 4rem;
  right: 0.75rem;
  background-color: #e4f2ff;
  padding: 1.25rem 1.5rem;
  border-radius: 5px;
  z-index: 1000;
  text-align: right;
}

input,
.select {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-400);
  border-radius: 5px;
  color: var(--color-gray-500);
}

input::placeholder {
  color: var(--color-gray-500);
}

.select {
  cursor: pointer;
}

/* button { */
/* color: var(--white); */
/* padding: 1rem 1.25rem; */
/* border: none; */
/* border-radius: 1.25rem; */
/* background-color: var(--primary); */
/* font-weight: 700; */
/* font-size: 1.15rem; */
/* font-family: "Montserrat Alternates", sans-serif; */
/* } */

/* button:hover { */
/* opacity: 0.9; */
/* } */

.wrapper {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  display: flex;
}

.bg {
  padding: 3.75rem;
  height: 100%;
  background: url("./assets/images/header-bg.webp") no-repeat center center;
  background-size: cover;
  position: relative;
}

.bg-image-primary {
  position: relative;
}

.bg-image-primary::after {
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0.35rem;
  left: 0.35rem;
  content: "";
  z-index: 0;
}

.bg-image-dark {
  position: relative;
}

.bg-image-dark::after {
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0.35rem;
  left: 0.35rem;
  content: "";
  z-index: 0;
}

.bg-primary {
  width: 100%;
  height: 100%;
  background: var(--primary);
  position: relative;
  z-index: 0;
}

.bg-secondary {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  position: relative;
  z-index: 0;
}

.bg-dark {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  position: relative;
  z-index: 0;
}

.bg-gray {
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  position: relative;
  z-index: 0;
}

.bg-dot {
  width: 100%;
  height: 100%;
  background: url("./assets/images/header-bg.webp") repeat center center;
  background-size: contain;
  position: relative;
  z-index: 0;
}

.card {
  background-color: var(--dark);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  background: url("./assets/images/footer-bg.webp") repeat center center;
  background-size: contain;
}

.card-primary {
  background-color: var(--primary);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  color: var(--tertiary);
}

.card-white {
  background-color: var(--white);
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.card-overline {
  border: 1px solid var(--tertiary);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  color: var(--tertiary);
}

.card-opacity {
  background-color: rgba(0, 89, 77, 0.075);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  color: var(--tertiary);
}

.gradient {
  font-weight: bold;
  background: linear-gradient(90deg, #f50057 0%, #0ca97e 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.poppins {
  font-family: "Poppins", sans-serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

h1 {
  line-height: 5.25rem;
}

p.text-xl {
  line-height: 1.75rem;
}

p.text-2xl {
  line-height: 2.25rem;
}

p.text-3xl {
  line-height: 2.5rem;
}

.h4 {
  line-height: 3rem;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.dark {
  color: var(--dark);
}

.gray {
  color: var(--gray);
}

/* .border-tertiary {
  border: 1px solid var(--tertiary);
} */


.border-radius-40 {
  border-radius: 40px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-radius-60 {
  border-radius: 60px;
}

.tabela th,
.tabela td {
  border-right: 1px solid var(--tertiary);
  padding: 0 3rem;
  padding-bottom: 1rem;
}

.tabela th:last-of-type,
.tabela td:last-of-type {
  border: none;
}

.title-price {
  min-height: 65px;
}

.faq details {
  padding: 1rem 0;
}

.faq details p {
  padding: 0.5rem 1.5rem 0 1.5rem;
}

iframe > .label-select-date {
  visibility: hidden;
}

iframe > .label-select-date:before {
  position: relative;
  content: "Selecione a data e hora";
  visibility: visible;
}

.loading-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.loading {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  .bg {
    padding: 1rem;
  }

  .bg-image-secondary::after {
    border-radius: 40px;
    top: 0.35rem;
    left: 0.35rem;
  }

  .h4 {
    line-height: 2.5rem;
  }

  .button,
  .button-white {
    font-size: 1.15rem;
  }
}
